@model Category



<h2 class="text-center my-3">Edit Category</h2>

<div class="card shadow p-4">
    <form method="post">
       
        <input type="hidden" asp-for="id" />

        <div class="mb-3">
            <label asp-for="name" class="form-label fw-bold"></label>
            <input asp-for="name" class="form-control" placeholder="Enter category name" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="description" class="form-label fw-bold"></label>
            <textarea asp-for="description" class="form-control" placeholder="Enter category description"></textarea>
            <span asp-validation-for="description" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>


